<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Products</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/navbar') %> <%- include('partials/sidebar') %>
      <div class="flex flex-col items-center w-100 margin-0-auto padding-2 gap-2">
        <h1>Users overview</h1>
      </div>
      <main class="flex flex-col flex-1 w-100 margin-0-auto items-center">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>username</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((user,i) => { %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= user.username %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </main>
    </div>
    <script src="/sidebar.js"></script>
  </body>
</html>
