<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Inventory - <%= title %></title>
  </head>
  <body>
    <div class="wrapper">
      <main
        class="flex flex-col flex-1 items-center content-center bg-gradient-1 gap-2 md-pt-5 sm-bg-none"
      >
        <h2><%= message %></h2>
        <p><%= statusCode %></p>
        <% if (locals.user) { %>
        <a href="/admin/dashboard">Go back to dashboard</a>
        <p>or</p>
        <% } %>
        <a href="/">Go back to homepage</a>
      </main>
    </div>
  </body>
</html>
