* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 3rem;
}
html,
body {
  height: 100%;
  background-color: rgba(2, 6, 23, 1);
  color: aliceblue;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: aliceblue;
}
ul {
  list-style: none;
}

.btn-primary {
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(237, 4, 253);
  border-radius: 0.5rem;
  color: rgb(237, 4, 253);
  font-weight: 700;
  padding: 1rem 2rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  max-width: 200px;
  align-self: flex-start;
}

.btn-primary:hover {
  color: aliceblue;
  background-color: rgb(237, 4, 253);
}
.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.navbar {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  color: aliceblue;
  z-index: 99;
  backdrop-filter: blur(1.5rem);
  transition: transform 0.3s ease-in-out;
}
.navbar-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  color: aliceblue;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar a {
  color: aliceblue;
}

.nav-logo,
.nav-logo-admin {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.nav-logo-admin {
  text-transform: capitalize;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
}

.nav-links a {
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {
  color: #ed04fd;
}

.heading-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.heading-link {
  color: #ed04fd;
  font-weight: 700;
  display: flex;
  gap: 0.5rem;
}
.heading-link img {
  height: 1rem;
  width: 1rem;
}
.banner {
  display: flex;
  min-height: 90vh;
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(2, 6, 23, 1) 0%,
    rgba(65, 7, 79, 1) 50%,
    rgba(110, 17, 116, 1) 91%
  );
}

.banner-content,
.banner-image {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}
.banner-image img {
  padding: 2rem;
  max-height: 500px;
}

.banner h1 {
  font-size: clamp(1.5rem, 5vw, 4rem);
  color: aliceblue;
  font-weight: 900;
  line-height: 1.1;
}
.banner p {
  font-size: clamp(1rem, 1.2vw, 2.5rem);
  color: rgb(224, 220, 220);
}

.products-section,
.category-section {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  gap: 5rem;
  padding: 2rem;
  align-items: center;
  justify-content: start;
}

.category-section {
  background: linear-gradient(
    180deg,
    rgba(2, 6, 23, 1) 0%,
    rgba(65, 7, 79, 1) 50%,
    rgba(110, 17, 116, 1) 100%
  );
  color: aliceblue;
}

.products-section h2,
.category-section h2,
.about-section h2 {
  grid-column: 1/-1;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 1rem 0;
}
.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  min-height: 40%;
}

.grid-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  pointer-events: none;
}

.grid-container img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in;
}

.grid-container img:hover {
  scale: 1.1;
}
.grid-card {
  position: relative;
  overflow: hidden;
  min-height: 300px;
  min-width: 300px;
}
.category-title,
.product-title {
  position: absolute;
  background-color: #ed04fd;
  padding: 0.4rem;
  border-radius: 7px;
  top: 1rem;
  left: 1rem;
  color: white;
  font-weight: bold;
  z-index: 3;
}

.about-section {
  background: linear-gradient(
    0deg,
    rgba(2, 6, 23, 1) 0%,
    rgba(65, 7, 79, 1) 40%,
    rgba(110, 17, 116, 1) 100%
  );
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
}
.about-content p {
  line-height: 2;
}

.about-content,
.about-img {
  width: calc(50% - 1rem);
  flex-grow: 1;
  flex-shrink: 1;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  flex: 1;
  height: 100%;
  padding: 2rem;
}

.about-img {
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
  flex: 1;
  height: 100%;
}
/*about page*/
.about-header {
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(2, 6, 23, 1) 0%,
    rgba(65, 7, 79, 1) 40%,
    rgba(110, 17, 116, 1) 100%
  );
  min-height: 30%;
  padding-top: 6rem;
  display: flex;
  align-items: start;
  justify-content: center;
}

.about-header h2 {
  font-size: 3rem;
  font-weight: 900;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(2, 6, 23, 1);
  color: aliceblue;
  font-weight: 900;
  padding: 2rem 0;
  font-size: 1.2rem;
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footer img {
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}
.wrapper section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}
.info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0.5rem;
  font-weight: 600;
}
.no-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.product-details {
  display: flex;
  flex: 1;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(2, 6, 23, 1) 0%,
    rgba(65, 7, 79, 1) 50%,
    rgba(110, 17, 116, 1) 100%
  );
}

.product-details-card {
  position: relative;
  display: flex;
  width: 50%;
  height: 60%;
  max-height: 60%;
  margin: 0 auto;
  gap: 1rem;
  background-color: rgba(2, 6, 23, 0.5);
  backdrop-filter: blur(20px);
  padding: 1rem;
  border-radius: 0.5rem;
}
.product-details-image {
  position: relative;
  flex: 1;
  border-radius: 0.25rem;
  overflow: hidden;
}
.product-details-image img {
  height: 100%;
  object-fit: cover;
}
.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-info-group {
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
}
.product-categories {
  display: flex;
  gap: 1rem;
}

.category-link {
  background-color: #ed04fd;
  padding: 0.4rem;
  border-radius: 7px;
  top: 1rem;
  left: 1rem;
  color: white;
  font-weight: bold;
  z-index: 3;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  pointer-events: none;
}
#login .form {
  min-height: auto;
}
input[type="file"] {
  display: none;
}
.photo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ed04fd;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
}
.photo-icon img {
  height: 2rem;
  width: 2rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 33.3%;
  min-height: 100%;
}

.form .btn-primary {
  width: 100%;
  align-self: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form-group label {
  letter-spacing: 1px;
}
.form-group input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
}
.form-group input:focus {
  border: 2px solid #ed04fd;
}

.form-group-checkbox {
  display: flex;

  gap: 1rem;
  flex-wrap: wrap;
}

.form-group-textarea {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-height: 30%;
  font-size: 1.2rem;
}
.form-group-textarea textarea {
  height: 100%;
  font-size: 1.1rem;
}
/*admin page styles*/
.dashboard {
  height: 100%;
}
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  transition: all 0.2s ease-in-out;
  background-color: rgb(5, 11, 36);
  transform: translateX(-150%);
  padding: 2rem;
  padding-top: 4rem;
  gap: 2rem;
  box-shadow: 5px 0px 15px rgba(110, 17, 116, 0.2);
  z-index: 999;
}
.sidebar.hidden {
  transform: translateX(0);
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 1rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  width: 100%;
}
.sidebar ul li {
  width: 100%;
}
.sidebar h3 {
  font-size: 1.2rem;
}
.sidebar a {
  transition: all 0.2s ease-in-out;
}
.sidebar a:hover {
  color: #ed04fd;
}

.menu-btn {
  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.menu-btn img {
  height: 100%;
}

.category-details {
  display: flex;
  flex: 1;
  gap: 2rem;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.category-details-card {
  position: relative;
  display: flex;
  width: 50%;
  max-height: 60%;
  margin: 0 auto;
  gap: 1rem;
  background-color: rgba(2, 6, 23, 0.5);
  backdrop-filter: blur(20px);
  padding: 1rem;
  border-radius: 0.5rem;
}
.category-image {
  position: relative;
  flex: 1;
  border-radius: 0.25rem;
  overflow: hidden;
}
.category-details-image img {
  height: 100%;
  object-fit: cover;
}
.category-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.category-info-group {
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
}
.category-categories {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.btn-delete {
  cursor: pointer;
  border: 1px solid #ed04fd;
  outline: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: #ed04fd;
  background-color: transparent;
  text-transform: capitalize;
}

.category-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  height: 100%;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

.text-center {
  text-align: center;
}
