:root {
  --primary-color: #020617;
  --secondary-color: rgba(65, 7, 79, 1);
  --secondary-color-2: rgba(110, 17, 116, 1);
  --accent-color: rgb(237, 4, 253);
  --bg-color-secondary: #0f172a;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --red-color: #dc2626;
  --blue-color: #2563eb;
  --font-color: #f8fafc;
  --font-color-muted: #cbd5e1;
  --linear-gradient-primary: linear-gradient(
    0deg,
    var(--primary-color) 0%,
    var(--secondary-color) 50%,
    var(--secondary-color-2) 100%
  );
  --linear-gradient-secondary: linear-gradient(
    180deg,
    rgba(2, 6, 23, 1) 0%,
    rgba(65, 7, 79, 1) 50%,
    rgba(110, 17, 116, 1) 100%
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 3rem;
}
html,
body {
  background-color: var(--primary-color);
  color: var(--font-color);
}
img {
  width: 100%;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}
button {
  font-weight: 600;
}
ul {
  list-style: none;
}
input,
textarea {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
}

input[type="file"] {
  display: none;
}
h1,
h2,
h3 {
  font-weight: 900;
}

/*utility*/
.bg-1 {
  background: var(--primary-color);
}

.bg-2 {
  background: var(--bg-color-secondary);
}
.bg-3 {
  background-color: #0f172a !important;
}
.bg-gradient-1 {
  background: var(--linear-gradient-primary);
}
.bg-gradient-2 {
  background: var(--linear-gradient-secondary);
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: start;
}
.content-center {
  justify-content: center;
}
.content-start {
  justify-content: start;
}
.content-between {
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}
.self-start {
  align-self: start;
}
.self-center {
  align-self: center;
}
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-80 {
  width: 80%;
}
.w-50 {
  width: 50%;
}
.w-20 {
  width: 20%;
}
.h-50 {
  height: 50%;
}
.h-90 {
  height: 90%;
}
.h-100 {
  height: 100%;
}
.h-full {
  min-height: 100vh;
}
.h-90-vh {
  min-height: 90vh;
}
.min-h-40 {
  min-height: 40%;
}
.min-h-50 {
  min-height: 50%;
}
.min-h-60 {
  min-height: 60%;
}
.min-h-80 {
  min-height: 80%;
}
.min-h-100 {
  min-height: 100%;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.padding-1-2 {
  padding: 0.5rem;
}
.padding-1 {
  padding: 1rem;
}
.padding-2 {
  padding: 2rem;
}
.pt-6 {
  padding: 6rem;
}
.margin-0-auto {
  margin: 0 auto;
}
.font-s-3 {
  font-size: 3rem;
}
.font-s-5 {
  font-size: 5rem;
}
.font-w-9 {
  font-weight: 900;
}
.line-h-2 {
  line-height: 2;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.border-r-1-2 {
  border-radius: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grid {
  position: relative;
  display: grid;
  grid-auto-rows: 300px;

  @media (max-width: 1025px) {
    grid-auto-rows: 300px;
  }
  @media (max-width: 769px) {
    grid-auto-rows: 200px;
  }
  @media (max-width: 426px) {
    grid-auto-rows: 300px;
  }
}
.grid-center {
  place-content: center;
}

.grid-container-default {
  position: relative;
  display: grid;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  min-height: 40%;
  grid-auto-rows: minmax(200px, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(150px, 1fr));

  @media (max-width: 769px) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  @media (max-width: 426px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(150px, 1fr));

  @media (max-width: 1025px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  @media (max-width: 769px) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  @media (max-width: 426px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in;
}

.grid img:hover {
  scale: 1.1;
}

.grid-card {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: var(--bg-color-secondary);
  border-radius: 0.5rem;

  @media (max-width: 769px) {
    min-height: 200px;
    min-width: 200px;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--overlay-color);
  z-index: 1;
  pointer-events: none;
}

/*end utility*/

/*buttons*/
.btn-primary {
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  color: var(--accent-color);
  font-weight: 700;
  padding: 1rem 2rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  max-width: 200px;
  align-self: flex-start;
}

.btn-primary:hover {
  color: var(--font-color);
  background-color: var(--accent-color);
}
.btn-secondary {
  cursor: pointer;
  border: 1px solid var(--accent-color);
  outline: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: var(--accent-color);
  background-color: transparent;
  text-transform: capitalize;
  max-width: fit-content;
  font-size: 1.2rem;
}
.btn-edit {
  cursor: pointer;
  border: 1px solid var(--blue-color);
  outline: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: var(--blue-color);
  background-color: transparent;
  text-transform: capitalize;
  max-width: fit-content;
  font-size: 1.2rem;
}
.btn-delete {
  cursor: pointer;
  border: 1px solid var(--red-color);
  outline: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: var(--red-color);
  background-color: transparent;
  text-transform: capitalize;
  font-size: 1.2rem;
}
/*icons*/
.photo-icon img {
  height: 2rem;
  width: 2rem;
}
/*forms*/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
  padding: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 33.3%;
  min-height: 100%;
}
.form .btn-primary {
  width: 100%;
  align-self: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form-group label {
  letter-spacing: 1px;
}

.form-group input:focus {
  border: 2px solid var(--accent-color);
}
.form-group-checkbox {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.form-group-textarea {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-height: 35%;
}
.form-group-textarea textarea {
  height: 100%;
}

/*navbars*/
.navbar {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  color: var(--font-color);
  z-index: 99;
  backdrop-filter: blur(1.5rem);
  transition: transform 0.3s ease-in-out;
}
.navbar-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  color: var(--font-color);
}
.navbar.hidden {
  transform: translateY(-100%);
}
.navbar a {
  color: var(--font-color);
}
.nav-logo,
.nav-logo-admin {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.nav-logo-admin {
  text-transform: capitalize;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  text-transform: capitalize;
  font-size: 1rem;
}
.nav-links a {
  transition: all 0.2s ease-in-out;
}
.navbar a:hover {
  color: var(--accent-color);
}
.menu-btn {
  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.menu-btn img {
  height: 100%;
}

/*footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: 2rem 0;
  font-size: 1.2rem;
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footer img {
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

/*sidebar*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  transition: all 0.2s ease-in-out;
  background-color: var(--bg-color-secondary);
  transform: translateX(-250%);
  padding: 2rem;
  padding-top: 4rem;
  gap: 2rem;
  box-shadow: 5px 0px 15px var(--secondary-color);
  z-index: 999;
}
.sidebar.hidden {
  transform: translateX(0);
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 1rem;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  width: 100%;
}
.sidebar ul li {
  width: 100%;
}
.sidebar h3 {
  font-size: 1.2rem;
}
.sidebar a {
  transition: all 0.2s ease-in-out;
}
.sidebar a:hover {
  color: var(--accent-color);
}

.heading-link {
  color: var(--accent-color);
  display: flex;
  gap: 0.5rem;
}
.heading-link img {
  height: 1rem;
  width: 1rem;
}
/*home*/
.banner {
  background: var(--linear-gradient-primary);
}

.banner h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--font-color);
}
.banner p {
  font-size: clamp(1rem, 1.2vw, 2.5rem);
  color: var(--font-color-muted);
}

.products-section,
.category-section {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  gap: 5rem;
  padding: 2rem;
  align-items: center;
  justify-content: start;
}

.category-section {
  background: var(--linear-gradient-secondary);
}

.products-section h2,
.category-section h2 {
  grid-column: 1/-1;
  font-size: clamp(1.2rem, 2vw, 2.5rem);
  padding: 1rem 0;
}
.about-section h2 {
  font-size: clamp(2rem, 2vw, 2.5rem);
  padding: 1rem 0;
}

.category-title,
.product-title {
  position: absolute;
  background-color: var(--accent-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  top: 1rem;
  left: 1rem;
  z-index: 3;
}

.about-section {
  background: var(--linear-gradient-primary);
}

/*end home*/

.info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0.5rem;
}

.grid-container-default .product-details-card {
  width: 100%;
  flex-direction: column;
  background-color: var(--bg-color-secondary);
}

.grid-container-default .product-details-image {
  flex: 2;
}

.product-details-card {
  position: relative;
  display: flex;
  width: 60%;
  min-height: 60%;
  margin: 0 auto;
  gap: 1rem;
  background-color: var(--primary-color);
  backdrop-filter: blur(20px);
  padding: 1rem;
  border-radius: 0.5rem;
  line-height: 1.2;
}
.product-details-image {
  position: relative;
  flex: 1;
  border-radius: 0.25rem;
  overflow: hidden;
}
.product-details-image img {
  height: 100%;
}

.category-link {
  background-color: var(--accent-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  top: 1rem;
  left: 1rem;
  color: var(--font-color);
  z-index: 3;
}
/*login page*/

#login .form {
  min-height: auto;
}

.photo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--accent-color);
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

/*admin page styles*/

.category-details-card {
  position: relative;
  display: flex;
  width: 60%;
  max-height: 60%;
  margin: 0 auto;
  gap: 1rem;
  background-color: var(--bg-color-secondary);
  backdrop-filter: blur(20px);
  padding: 1rem;
  border-radius: 0.5rem;
}
.category-image {
  position: relative;
  flex: 1;
  border-radius: 0.25rem;
  overflow: hidden;
}
.category-details-image img {
  height: 100%;
  object-fit: cover;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

.dash-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--linear-gradient-primary);
  box-shadow: 5px 0px 15px var(--overlay-color);
  border: 1px solid var(--accent-color);
}
@media (max-width: 1025px) {
  .lg-flex-col {
    flex-direction: column;
  }
  .lg-w-80 {
    width: 50%;
  }
  .lg-w-80 {
    width: 80%;
  }
  .lg-w-90 {
    width: 90%;
  }
  .lg-w-100 {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .md-w-80 {
    width: 80%;
  }
  .md-w-100 {
    width: 100%;
  }
  .md-flex-col {
    flex-direction: column;
  }
  .md-gap-2 {
    gap: 2rem;
  }
  .md-pt-5 {
    padding-top: 5rem;
  }
  .md-flex-row {
    flex-direction: row;
  }
  .md-p-1 {
    padding: 1rem;
  }
}
@media (max-width: 426px) {
  .sm-w-80 {
    width: 80%;
  }
  .sm-w-90 {
    width: 90%;
  }
  .sm-w-100 {
    width: 100%;
  }
  .sm-flex-col {
    flex-direction: column;
  }
  .sm-gap-1 {
    gap: 1rem;
  }
  .sm-gap-2 {
    gap: 2rem;
  }
  .sm-p-1 {
    padding: 1rem;
  }
  .sm-p-0-5 {
    padding: 0.5rem;
  }
  .sm-bg-none {
    background: none;
  }
  .sm-title-sm {
    font-size: 1.2rem;
  }
  .sm-display-none {
    display: none;
  }
}
