* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 3rem;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: aliceblue;
}
html,
body {
  height: 100%;
  background-color: rgba(2, 6, 23, 1);
  color: aliceblue;
}
.btn-primary {
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(237, 4, 253);
  border-radius: 0.5rem;
  color: rgb(237, 4, 253);
  font-weight: 700;
  padding: 1rem 2rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  max-width: 200px;
  align-self: flex-start;
}

.btn-primary:hover {
  color: aliceblue;
  background-color: rgb(237, 4, 253);
}
.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.navbar {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  color: aliceblue;
  z-index: 99;
  backdrop-filter: blur(1.5rem);
  transition: transform 0.3s ease-in-out;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar a {
  color: aliceblue;
}

.nav-logo {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.heading-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.heading-link {
  color: #ed04fd;
  font-weight: 700;
}
.banner {
  display: flex;
  min-height: 90vh;
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(2, 6, 23, 1) 0%,
    rgba(65, 7, 79, 1) 50%,
    rgba(110, 17, 116, 1) 91%
  );
}

.banner-content,
.banner-image {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}
.banner-image img {
  padding: 2rem;
  max-height: 500px;
}

.banner h1 {
  font-size: clamp(1.5rem, 5vw, 4rem);
  color: aliceblue;
  font-weight: 900;
  line-height: 1.1;
}
.banner p {
  font-size: clamp(1rem, 1.2vw, 2.5rem);
  color: rgb(224, 220, 220);
}

.products-section,
.category-section {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  gap: 5rem;
  padding: 2rem;
  align-items: center;
  justify-content: start;
}

.products-section {
  background: #020617;
  color: aliceblue;
}

.category-section {
  background: linear-gradient(
    180deg,
    rgba(2, 6, 23, 1) 0%,
    rgba(65, 7, 79, 1) 50%,
    rgba(110, 17, 116, 1) 100%
  );
  color: aliceblue;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  place-content: center;
}

.products-section h2,
.category-section h2,
.about-section h2 {
  grid-column: 1/-1;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 1rem 0;
}

.grid-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  pointer-events: none;
}

.grid-container img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in;
}

.grid-container img:hover {
  scale: 1.1;
}
.grid-card {
  position: relative;
  overflow: hidden;
  min-height: 300px;
  min-width: 300px;
}
.category-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  font-weight: bold;
  z-index: 3;
}

.about-section {
  background: linear-gradient(
    0deg,
    rgba(2, 6, 23, 1) 0%,
    rgba(65, 7, 79, 1) 40%,
    rgba(110, 17, 116, 1) 100%
  );
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
}
.about-content p {
  line-height: 2;
}

.about-content,
.about-img {
  width: calc(50% - 1rem);
  flex-grow: 1;
  flex-shrink: 1;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  flex: 1;
  height: 100%;
  padding: 2rem;
}

.about-img {
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
  flex: 1;
  height: 100%;
}
.about-header {
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(2, 6, 23, 1) 0%,
    rgba(65, 7, 79, 1) 40%,
    rgba(110, 17, 116, 1) 100%
  );
  min-height: 30%;
  padding-top: 6rem;
  display: flex;
  align-items: start;
  justify-content: center;
}

.about-header h2 {
  font-size: 3rem;
  font-weight: 900;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(2, 6, 23, 1);
  color: aliceblue;
  font-weight: 900;
  padding: 2rem 0;
  font-size: 1.2rem;
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footer img {
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}
.wrapper section {
  flex: 1;
  height: 30%;
}
.info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0.5rem;
  font-weight: 600;
}
