<nav class="navbar">
  <div class="nav-logo">
    <a href="/">
      <h3>Inventory</h3>
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="#products">products</a></li>
    <li><a href="#category">categories</a></li>
    <li><a href="/admin/dashboard">Login</a></li>
  </ul>
</nav>
