<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Inventory - <%= title %></title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/nav') %> <%- include('partials/sidebar') %>
      <header
        class="flex items-start content-center min-h-40 bg-gradient-1 pt-6"
      >
        <h2 class="font-s-3">About Inventory</h2>
      </header>
      <section class="flex flex-col flex-1 gap-2">
        <div class="flex flex-col content-center w-80 margin-0-auto gap-2">
          <p class="line-h-2">
            This app was developed as part of The Odin Project curriculum, which
            emphasizes practical, project-based learning in web development. The
            aim was to gain hands-on experience by building a fully functional
            application, using modern tools and frameworks widely adopted in the
            industry. The project allowed me to delve deeply into Node.js, a
            powerful JavaScript runtime for building scalable server-side
            applications, and Express, a minimalistic yet robust framework for
            handling routing and middleware. Through this process, I was able to
            enhance my understanding of how back-end systems are structured and
            how they interact with databases and client-side components.
          </p>
          <p class="line-h-2">
            One of the core objectives of the project was to work extensively
            with PostgreSQL, a relational database known for its reliability and
            flexibility. I implemented raw SQL queries to perform essential CRUD
            operations—creating, reading, updating, and deleting data—using the
            pg library, which made it easier to manage interactions between the
            application and the database. This deepened my knowledge of SQL and
            helped me grasp important concepts like query optimization,
            relational data modeling, and the handling of database transactions
            in real-world applications.
          </p>
          <p class="line-h-2">
            Another significant aspect of the project was exploring user
            authentication and security best practices. By integrating bcrypt
            for password hashing and Passport.js for handling authentication, I
            learned how to secure user credentials and manage session-based
            authentication in a Node.js environment. Additionally, I worked with
            Multer to implement file handling and incorporated Express Validator
            to ensure reliable form validation, rounding out the project with
            key security and user experience improvements. Through these tools,
            I was able to build a secure and functional application that
            demonstrated my proficiency in full-stack development.
          </p>
        </div>
      </section>
      <%- include('partials/footer') %>
    </div>
    <script src="/navbar.js"></script>
  </body>
</html>
