<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/nav') %>
      <header class="about-header">
        <h2>About Inventory</h2>
      </header>
      <section></section>

      <%- include('partials/footer') %>
    </div>
    <script src="/navbar.js"></script>
  </body>
</html>
