<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1>Welcome to InventoryApp</h1>
      <p>Easily and securely manage your inventory</p>
      <a href="/admin/dashboard">Login</a>
    </main>
    <h2>Latest from Inventory:</h2>
    <section style="display: flex; gap: 2rem">
      <% if (products) { %> <% products.forEach(product => { %>
      <div>
        <img
          src="<%= product.imageurl %> "
          alt=""
          srcset=""
          height="400"
          width="400"
        />
        <p><%= product.title%></p>
      </div>
      <% }) %> <% } %>
    </section>
  </body>
</html>
