<nav class="navbar-admin">
  <div class="nav-logo-admin">
    <a href="/admin/dashboard">
      <h2 class="sm-title-sm">InventoryAdmin</h2>
    </a>
  </div>

  <ul class="nav-links">
    <% if (locals.user) { %>
    <li class="sm-display-none">Hello, <%= user.username %></li>
    <li>
      <button class="menu-btn">
        <img src="/assets/menu.svg" alt="menu" />
      </button>
    </li>
    <% } %>
  </ul>
</nav>
