<aside class="sidebar md-w-80 sm-w-80">
  <ul>
    <h3>Dashboard</h3>
    <li><a href="/">Main site</a></li>
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li><a href="/admin/dashboard/category">Categories</a></li>
    <li><a href="/admin/dashboard/product">Products</a></li>
  </ul>
  <ul>
    <h3>Add</h3>
    <li><a href="/admin/dashboard/category/create">Category</a></li>
    <li><a href="/admin/dashboard/product/create">Product</a></li>
  </ul>
  <ul>
    <li><a href="/admin/logout">LogOut</a></li>
  </ul>
</aside>
