<aside class="sidebar">
  <ul>
    <h3>Dashboard</h3>
    <li><a href="/admin/dashboard/category">categories</a></li>
    <li><a href="/admin/dashboard/product">products</a></li>
  </ul>
  <ul>
    <h3>Add</h3>
    <li><a href="/admin/dashboard/category/create">category</a></li>
    <li><a href="/admin/dashboard/product/create">product</a></li>
  </ul>
  <ul>
    <li><a href="/admin/logout">LogOut</a></li>
  </ul>
</aside>
